<div>
    <nav>
        <ul>
            <div>
                <li>
                    <img class="logo" src="../../assets/images/billify_logo.svg" alt="" routerLink="">
                </li>
            </div>
            <div class="auth">
                <li>
                    <button class="login" routerLink="login">Login</button>
                </li>
                <li>
                    <button class="signup" routerLink="signup">Sign up</button>
                </li>
            </div>
        </ul>
    </nav>
</div>
