<section class="card-components">
    <div class="container-fluid ps-2r">
      <div class="title-wrapper pt-30 pb-5">
        <div class="row align-items-center">
          <div class="col-6">
            <div class="title mb-30">
              <h2>Add Coupon</h2>
            </div>
          </div>
          <div class="col-6 d-flex justify-content-end">
            <div class="pe-4">
              <a class="main-btn primary-btn btn-hover" (click)="stockModal(stockform)">Add Coupon</a>
            </div>
          </div>
        </div>
        <!-- end row -->
      </div>
      <div class="col-lg-12">
        <div class="card-style mb-30">
          <div class="title d-flex flex-wrap align-items-center justify-content-between">
            <div class="left">
              <h6 class="text-medium mb-30">Coupons</h6>
            </div>
          </div>

              <div class="mb-3 col-6">
                <label class="form-label fs-5 fw-semibold m-0 pb-1 text-secondary">Coupon Percentage</label>
                <input type="text" class="form-control border-1 border-light-sm fs-4 mb-2" placeholder="10%"
                  formControlName="percentage" />
              </div>
              <div class="mb-3 col-6">
                <label class="form-label fs-5 fw-semibold m-0 pb-1 text-secondary">Min Amount</label>
                <input type="text" class="form-control border-1 border-light-sm fs-4 mb-2" placeholder="100000"
                  formControlName="min_amt" />
              </div>
            </div>
            <div class="action d-flex flex-wrap justify-content-end">
              <button type="submit" class="main-btn primary-btn btn-hover m-1">
                Add Coupon
              </button>
            </div>
          </form>
        </div>
  
      </div>
    </div>
  
  </ng-template>
  