<aside class="sidebar-nav-wrapper">
  <div class="ps-5 pb-5">
    <a>
      <img src="../../../assets/images/billify_logo.svg" alt="logo" style="width: 150px;"/>
    </a>
  </div>
  <nav class="sidebar-nav">
    <ul>
      <li class="nav-item activ {{tab[0]}} show pt-5">
        <a routerLink="../dashboard" class="d-flex align-items-center" (click)="change([0,0])">
          <span class="icon pe-3 d-flex align-items-center">
            <i class="lni lni-home fs-2"></i>
          </span>
          <span>Home</span>
        </a>
      </li>
      <li class="nav-item activ {{tab[1]}}">
        <a routerLink="../dashboard/add" class="d-flex align-items-center" (click)="change([1,0])">
          <span class="icon pe-3 d-flex align-items-center">
            <i class="lni lni-dropbox-original fs-2"></i>
          </span>
          <span>Inventory</span>
        </a>
      </li>
      <li class="nav-item activ {{tab[2]}}">
        <a routerLink="../dashboard/coupon" class="d-flex align-items-center" (click)="change([2,0])">
          <span class="icon pe-3 d-flex align-items-center">
            <i class="lni lni-ticket fs-1"></i>
          </span>
          <span>Coupon</span>
        </a>
      </li>

  </nav>

</aside>
