<div class="overflow-hidden">
    <div class="row login" >
        <div class="col-6 login-left" >
            <div>
                <h1 class="fs-1 pb-3">Welcome back</h1>
                <p class="fs-4 text-light pb-5">Welcome back! Please enter your details.</p>
                <form [formGroup]="loginForm" action="" class="form-group pt-3" #login (submit)="loginUser()">
                    <div class="alert alert-danger mb-5 fs-4" role="alert" *ngIf="errorMessage != ''">
                        {{errorMessage}}
                    </div>
                    <div class="pb-4">
                        <label class="form-label pb-1 text-light">Username</label>
                        <input type="text" class="form-control border-light-sm text-light mb-2" placeholder="@darpanBahadur" formControlName="username"/>
                        <div class="form-text text-danger fs-6" *ngIf="getUsername?.hasError('required') && getUsername?.touched">This field is required</div>
                    </div>

                </form>
            </div>
        </div>
        <div class="col-6 bg-light-sm login-right position-relative">
            <div class="circle bg-primary"></div>
            <div class="blur position-absolute top-50 start-50"></div>
        </div>
    </div>
</div>