<section class="card-components">
    <div class="container-fluid ps-2r">
      <div class="title-wrapper pt-30 pb-5">
        <div class="row align-items-center">
          <div class="col-6">
            <div class="title mb-30">
              <h2>Generate Invoice</h2>
            </div>
          </div>
        </div>
        <!-- end row -->
      </div>
      <div class="col-lg-12">
        <div class="card-style mb-30">
          <h6 class="mb-25">Customer Details</h6>
          <form action="#">
            <div class="row">
              <div class="col-6">
                <div class="input-style-1">
                  <label>First Name</label>
                  <input type="text" class="fs-5" placeholder="Your First Name" />
                </div>
              </div>
              <!-- end col -->
              <div class="col-6">
                <div class="input-style-1">
                  <label>Last Name</label>
                  <input type="text" class="fs-5" placeholder="Your Last Name" />
                </div>
              </div>
              <!-- end col -->
              <div class="col-6">
                <div class="input-style-1">
                  <label>Address</label>
                  <input type="text" class="fs-5" placeholder="Your Current Address" />
                </div>
              </div>
              <div class="col-6">
                <div class="input-style-1">
                  <label>Email Id</label>
                  <input type="email" class="fs-5" placeholder="Your Email Id" />
                </div>
              </div>
              <div class="col-6">
                  <div class="input-style-1">
                    <label>Phone Number</label>
                    <input type="tel" class="fs-5" placeholder="Your Phone Number" />
                  </div>
                </div>
              <!-- end col -->
              <div class="col-12">
                <div class="button-group d-flex justify-content-end flex-wrap">
                  <button class="main-btn primary-btn btn-hover m-2">
                    Next
                  </button>
                  <button class="main-btn danger-btn-outline m-2">
                    Cancel
                  </button>
                </div>
              </div>
            </div>
            <!-- end row -->
          </form>
        </div>
      </div>
    </div>
    <!-- end container -->
  </section>
  