<section class="card-components">
  <div class="container-fluid ps-2r">
    <div class="title-wrapper pt-30 pb-5">
      <div class="row align-items-center">
        <div class="col-6">
          <div class="title mb-30">
            <h2>Generate Invoice</h2>
          </div>
        </div>
      </div>
      <!-- end row -->
    </div>
    <div class="col-lg-12 mb-5">
      <div class="card-style mb-30">
        <h6 class="mb-25">Customer Details</h6>
        <form action="#" [formGroup]="customerDetails">
          <div class="row">
            <div class="col-6">
              <div class="input-style-1">
                <label>First Name</label>
                <input type="text" class="fs-5" formControlName="fname" placeholder="Your First Name" />
              </div>
            </div>
            <!-- end col -->
            <div class="col-6">
              <div class="input-style-1">
                <label>Last Name</label>
                <input type="text" class="fs-5" formControlName="lname" placeholder="Your Last Name" />
              </div>
            </div>
            <!-- end col -->
            <div class="col-6">
              <div class="input-style-1">
                <label>Address</label>
                <input type="text" class="fs-5" formControlName="address" placeholder="Your Current Address" />
              </div>
            </div>
            <div class="col-6">
              <div class="input-style-1">
                <label>Email Id</label>
                <input type="email" class="fs-5" formControlName="email" placeholder="Your Email Id" />
              </div>
            </div>
            <div class="col-6">
              <div class="input-style-1">
                <label>Phone Number</label>
                <input type="tel" class="fs-5" formControlName="phone" placeholder="Your Phone Number" />
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>

    
  <!-- end container -->

</section>
