h6{
  color: #6824b7;
}

h6{
  font-size: 16px;
  font-weight: 600;
}
.header-search input:focus{
  outline: 1px solid #6824b7;
}
.header {
  padding: 20px 0;
  background: #fff;
}
.header-search{
  width: 100%;
}
.header .header-left .header-search form {
  width: 100%;
  position: relative;
}
.header .header-left .header-search form input {
  width: 100%;
  border: 1px solid #efefef;
  background: rgba(239, 239, 239, 0.5);
  border-radius: 10px;
  font-size: 1.5rem;
  padding-left: 4.5rem;
}
.header .header-left .header-search form input:focus {
  border-color: #7027c4;
  background: #fff;
}
.header .header-left .header-search form button {
  position: absolute;
  font-size: 1.8rem;
  border: none;
  background: transparent;
  left: 16px;
  top: 2px;
  height: 46px;
  color: #5d657b;
  font-weight: 700;
}
.header .header-right {
  display: flex;
  justify-content: flex-end;
}
.select-branch{
  width: 200px;
  option{
    padding: 1rem 2rem!important;
    font-size: 1.6rem;
  }
  
}
select option:hover{
  background-color: #7027c4!important;
}

.header-right-icons{
    width: 400px;
}
.header .header-right button {
  border: 1px solid #efefef;
  background: rgba(239, 239, 239, 0.5);
  border-radius: 10px;
  height: 46px;
  width: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.header .header-right button span {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #7027c4;
  color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -8px;
  right: -6px;
  font-size: 12px;
  font-weight: 500;
}
.header .header-right .profile-box button {
  width: auto;
}
.header .header-right .profile-box .profile-info .info {
  display: flex;
  align-items: center;
}
.header .header-right .profile-box .profile-info .info .image {
  border: 2px solid #f9f9f9;
  -webkit-box-shadow: 0px 21px 25px rgba(218, 223, 227, 0.8);
  -moz-box-shadow: 0px 21px 25px rgba(218, 223, 227, 0.8);
  box-shadow: 0px 21px 25px rgba(218, 223, 227, 0.8);
  width: 46px;
  height: 46px;
  border-radius: 50%;
  position: relative;
}
.header .header-right .profile-box .profile-info .info .image .status {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 2px solid #e5e5e5;
  background: #219653;
  position: absolute;
  bottom: 0;
  right: 0;
  top: auto;
}
.header .header-right .profile-box .profile-info .info .image img {
  width: 100%;
  border-radius: 50%;
}
