.signup-heading h1 {
  font-weight: 600;
  font-size: 3.5rem;
}

.signup-heading p {
  font-weight: 400;
  font-size: 1.6rem;
}

.register-form form label {
  font-weight: 600;
  font-size: 1.4rem;
  color: #A0A0A0;
}

.register-form form input {
  padding: .9rem 1.9rem;
  outline: none !important;

  font-weight: 600;
  font-size: 1.4rem;
}
.register-form form input::placeholder {
    color: #E4E4E4;
}

.form-text{
    font-size: 1.2rem;
    height: 20px;
}

.progress-line p {
  font-weight: 600;
  font-size: 1.6rem;
}

.bar-1 {
  width: 33rem;
  height: .6rem;
}

.px-25 {
  padding: 4rem 25rem;
}

.bg-primary {
  background-color: #8C30F5 !important;
}
.border-primary {
    border-color: #8C30F5 !important;
    border-style: solid;
  }

.text-primary {
  color: #8C30F5 !important;
}

.text-light {
  color: #949494 !important;
}

.text-light-sm {
  color: #E4E4E4 !important;
}

a{
    text-decoration: none;
}

.bg-light-sm {
  background-color: #E4E4E4 !important;
}

.border-light-sm {
  border: .15rem solid #E4E4E4 !important;
}
