<div>
  <div class="p-5 text-center signup-heading">
    <h1 class="pt-5 pb-2">Signup for a free Billify account</h1>
    <p class="text-light pb-5">you can easily manage your finances and streamline your growth process.</p>
  </div>
  <div class="px-25">
    <div class="d-flex justify-content-between">
      <div class="progress-line">
        <p class="text-primary">1. Company information</p>
        <div class="bar-1 bg-primary"></div>
      </div>
      <div class="progress-line">
        <p class="text-light-sm">2. Payment information</p>
        <div class="bar-1 bg-light-sm"></div>
      </div>
      <div class="progress-line">
        <p class="text-light-sm">3. Branch information</p>
        <div class="bar-1 bg-light-sm"></div>
      </div>
    </div>
    <div class="p-5 my-5 border border-3 border-secondary-subtle rounded-3 register-form">
      <form class="py-2">
        <div class="row pb-3">
          <div class="mb-3 col-4">
            <label class="form-label pb-1 text-danger">GST Number</label>
            <input type="email" class="form-control border-1 border-danger text-light mb-2" placeholder="0000-000"/>
            <div class="form-text text-danger">We'll never share your email with anyone else.</div>
          </div>
          <div class="mb-3 col-8">
            <label class="form-label pb-1">Name</label>
            <input type="email" class="form-control border-light-sm text-light mb-2" placeholder="Samsung Store"/>
            <div class="form-text text-danger"></div>
          </div>
        </div>
        <div class="row pb-3">
          <div class="mb-3 col-8">
            <label class="form-label pb-1">Address</label>
            <input type="email" class="form-control border-light-sm text-light mb-2" placeholder="B-203, Sarojni Nagar, Bangalore"/>
            <div class="form-text text-danger"></div>
          </div>
          <div class="mb-3 col-4">
            <label class="form-label pb-1">Pincode</label>
            <input type="email" class="form-control border-light-sm text-light mb-2" placeholder="403110"/>
            <div class="form-text text-danger"></div>
          </div>
        </div>
        <div class="row pb-4">
          <div class="mb-3 col-6">
            <label class="form-label pb-1">Industry</label>
            <input type="email" class="form-control border-light-sm text-light mb-2"  placeholder="Electronics"/>
            <div class="form-text text-danger"></div>
          </div>
          <div class="mb-3 col-6">
            <label class="form-label pb-1">State</label>
            <input type="email" class="form-control border-light-sm text-light mb-2" placeholder="Karnataka"/>
            <div class="form-text text-danger"></div>
          </div>
        </div>
        <div class="d-flex justify-content-between align-items-center pb-4 px-2">
            <div>
                <div class="form-text text-light fs-5">*Already have an account ? <a routerLink="../login" class="fw-bold text-primary">Login</a></div>
            </div>
            <div>
              <button class="next-btn py-3 px-5 fs-5 fw-bold bg-transparent border border-2 border-primary text-primary rounded-1">Proceed</button>
            </div>
          </div>
      </form>
    </div>
  </div>
</div>
