<div>
    <div class="row-landing">
        <div class="col-landing">
                <h1>Efficient and Secure <span style="color:#aa6bf3">Billing</span> System</h1>
                <p>Effortless billing for your business - with our system, you can easily manage your finances and streamline your growth process.</p>
                <button routerLink="signup">Get Started</button>

        </div>
        <div class="col-landing">
            <div class="card-landing"> 
                
            </div>
            <img src="../../assets/images/Dashboard.svg">

        </div>
    </div>
</div>